@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#app {
    flex: 1;
    @apply antialiased;
}

.form-input {
    @apply rounded focus:border-main-50 focus:shadow-sm focus:shadow-main-200 focus:ring-main-200 h-[55px];
}

select:invalid {
    @apply text-xs font-light text-placeholder;
}

.form-input::placeholder {
    @apply text-xs font-light text-placeholder;
}

.form-input.error {
    @apply focus:border-error focus:shadow-sm focus:shadow-error focus:ring-error
}
